<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.min.css?h=71998b2089f11f8abdd6d55592df9e78">
</head>

<body>
    <!-- Start: SAS Menu -->
    <div></div>
    <!-- End: SAS Menu -->
    <!-- Start: gradient-navbar -->
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="height: 120px;">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img
                    src="/img/logo-dai-hoc-gia-dinh.png?h=35a8dc6d3e58a9995283180bce752ebf"
                    style="width: 100px;"></a><button class="navbar-toggler" data-toggle="collapse"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="margin: 0px 0px 0px 0px;">
                <ul class="nav navbar-nav ml-auto" style="margin: 0px 150px 0px 0px;">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/dangkytuyensinh"
                            style="border-radius: 8px;">Đăng ký tuyển sinh</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signup"></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/xemHoSo">Xem hồ sơ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End: gradient-navbar -->
    <div class="carousel slide" data-ride="carousel" id="carousel-1" style="max-width: 100%;max-height: 100%;">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="max-width: 100%;max-height: 100%;"><img class="w-100 d-block"
                    src="/img/banner_web_3_daihocgiadinh_2-1572428250.jpg?h=1bdae61fb5cdb4b5da2181b67097d744"
                    alt="Slide Image"></div>
            <div class="carousel-item" style="max-width: 100%;max-height: 100%;"><img class="w-100 d-block"
                    src="/img/banner_web_3_daihocgiadinh-1570784307.jpg?h=b3a0aa6da095777912b04f04ff5a1f9e"
                    alt="Slide Image"></div>
        </div>
        <div>
            <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button"
                data-slide="prev"><span class="carousel-control-prev-icon"></span><span
                    class="sr-only">Previous</span></a>
            <!-- End: Previous -->
            <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button"
                data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            <!-- End: Next -->
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active" style="opacity: 9;"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
        </ol>
    </div>
    <!-- Start: Footer Basic -->
    <div class="footer-basic">
        <footer>
            <!-- Start: Social Icons -->
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                        class="icon ion-social-snapchat"></i></a><a href="#"><i
                        class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/TruongDaihocGiaDinh/"><i class="icon ion-social-facebook"></i></a>
            </div>
            <!-- End: Social Icons -->
            <!-- Start: Links -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="color: rgba(255,255,255,.75);">Home</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgba(255,255,255,.75);">Services</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgba(255,255,255,.75);">About</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgba(255,255,255,.75);">Terms</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgba(255,255,255,.75);">Privacy Policy</a></li>
            </ul>
            <!-- End: Links -->
            <!-- Start: Copyright -->
            <p class="copyright" style="color: rgba(255,255,255,.75);">Gia Định University © 2020</p>
            <!-- End: Copyright -->
        </footer>
    </div>
    <!-- End: Footer Basic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.min.js?h=3af2759d0bf5ea67692507ecb0714a3d"></script>
</body>

</html>